@media (max-width: 1600px) {
    html {
        font-size: 9px;
    }

    .single-page {
        min-height: 870px;
    }
}

@media (max-width: 1500px) {
    html {
        font-size: 8px;
    }

    .contact-info__tabs-item::before {
        background-size: 9rem .6rem;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 7px;
    }

    .burger-mob {
      height: 4px;
    }

    .burger-mob::before {
      height: 4px;
    }

    .burger-mob::after {
      height: 4px;
    }

    .single-page__img {
        max-width: 98rem;
    }

    .single-page {
        min-height: 780px;
    }
}

@media (max-width: 1220px) {
    .header .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__menu {
        width: 80rem;
    }

    .single-page {
        min-height: 750px;
    }
}