@media (max-width: 1023px) {
    .intro__content {
        flex-direction: column;
        align-items: center;
    }

    .info {
        margin-top: 100px;
        padding-bottom: 100px;
    }

    .header {
        padding-bottom: 70px;
    }

    .intro__title-content .btn-main {
        margin-bottom: 50px;
    }

    .intro__title-content .description-info {
        margin-bottom: 50px;
    }

    .intro__nav-item:nth-child(even) {
        margin-top: 40px;
    }

    .reviews h2 {
        padding-bottom: 55px;
    }

    .reviews {
        padding-bottom: 150px;
    }

    .contact-info__contact-item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    .contact-info__content {
        padding-bottom: 100px;
    }

    .single-page__content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .single-page__img {
        position: relative;
        width: 100%;
    }

    .single-page__left-col {
        margin-right: 0;
    }

    .single-page__content p {
        padding-bottom: 20px;
    }

    .single-page__icon img {
        width: 78rem;
    }

    .single-page__icon {
        right: -10rem;
        bottom: -15rem;
    }

    .contact-info--inner {
        padding-top: 50px;
    }
}

@media (max-width: 700px) {
    .header__menu {
        width: 100%;
    }

    .header__logo img {
        max-width: 60px;
    }

    .header__logo span {
        padding-left: 20px;
    }

    .header__logo span {
        font-size: 2.8rem;
    }

    .burger-mob {
        height: 3px;
        width: 5rem;
        top: 1.7rem;
    }

    .burger-mob::before {
        height: 3px;
        top: 1.5rem;
        width: 5rem;
    }

    .burger-mob::after {
        height: 3px;
        bottom: 1.6rem;
        width: 5rem;
    }

    .contact-info__flag {
        min-width: 9rem;
        max-width: 9rem;
    }

    h2 {
        font-size: 5rem;
    }

    .contact-info__tabs-item::before {
        background-size: 7.5rem .6rem;
    }

    .contact-info__contacts-list {
        flex-direction: column;
        align-items: center;
    }

    .contact-info__contact-item {
        margin-right: 0;
        text-align: center;
        max-width: 50rem;
        margin-bottom: 40px;
    }

    .contact-info__flag-content {
        justify-content: center;
    }

    .contact-info__content {
        padding-bottom: 70px;
    }

    .contact-info__flag-content {
        padding-bottom: 20px;
    }

    .contact-info__contact-item p {
        padding-bottom: 15px;
    }

    .header__sub-menu-list {
        padding-bottom: 40px;
    }

    .reviews__img-mask:nth-child(1) img {
        top: 7rem;
        left: 10rem;
    }

    .reviews__brand-mask:nth-child(2) img {
        top: 8rem;
        right: 5rem;
    }

    .reviews__img-mask:nth-child(2) img {
        top: 49rem;
        left: 2rem;
    }

    .reviews__img-mask:nth-child(3) img {
        top: 50rem;
        right: 3rem;
    }

    .reviews__brand-mask:nth-child(1) img {
        top: 65rem;
        left: 14rem;
    }

    .reviews__brand-mask img {
        max-width: 22rem;
    }

    .header__info-panel {
        max-width: 30rem;
    }

    .burger-content {
        height: 3.6rem;
        width: 5rem;
    }

    .header__menu {
        padding-top: 55px;
    }

    .single-page__icon {
        display: none;
    }

    .contact-info--inner {
        padding-top: 0;
    }
}

@media (max-width: 600px) {
    .info__content {
        flex-direction: column;
        align-items: center;
    }

    .info__title-content {
        margin-right: 0;
        margin-bottom: 30px;
    }

    h2 {
        padding-bottom: 40px;
    }

    .info {
        margin-top: 70px;
        padding-bottom: 80px;
    }

    .info__about-content p {
        padding-bottom: 30px;
    }

    .reviews__slide-item p::before {
        display: none;
    }

    .reviews__slide-item p::after {
        display: none;
    }

    .contact-info__tabs-item {
        margin-right: 40px;
    }

    .header__menu-list {
        left: 0;
    }
}

@media (max-width: 500px) {
    .intro__nav-item {
        max-width: 188px;
    }

    .intro__nav-item p {
        font-size: 2.6rem;
    }

    .intro__nav-img {
        max-width: 10rem;
    }

    .info__title-img {
        max-width: 40rem;
        margin: 0 auto;
    }

    .contact-info__tabs-list {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 50px;
    }

    .contact-info__tabs-item {
        margin-bottom: 30px;
    }

    .contact-info__field-row {
        flex-direction: column;
    }

    .contact-info__field-row .contact-info__field {
        max-width: none;
    }

    .contact-info__panel {
        flex-direction: column;
        align-items: center;
    }

    .contact-info__form .btn-main {
        margin-top: 30px;
    }

    .contact-info__tabs-item::before {
        height: 3px;
        background-size: 7.5rem .3rem;
        bottom: -1rem;
    }

    .header__info-panel {
        max-width: 27rem;
    }

    .header__logo img {
        max-width: 45px;
    }

    .header__logo span {
        font-size: 2.4rem;
        padding-left: 15px;
    }

    .header__menu {
        padding-top: 50px;
    }

    .header__menu-list {
        padding-left: 5px;
        padding-right: 5px;
    }

    h1 {
        font-size: 5.5rem;
    }

    .intro__title-content p {
        font-size: 2.4rem;
        line-height: 1.34; 
    }

    .header {
        padding-top: 20px;
    }
}

@media (max-width: 420px) {
    .reviews__img-brands {
        display: none;
    }

    .reviews__img-content {
        display: none;
    }

    .reviews {
        padding-bottom: 70px;
    }

    .intro__nav-list {
        flex-direction: column;
        align-items: center;
    }

    .intro__nav-item:nth-child(even) {
        margin-top: 20px;
    }

    .intro__nav-item:nth-child(odd) {
        margin-top: 20px;
    }

    .intro__title-content .description-info {
        margin-bottom: 30px;
    }

    .reviews h2 {
        padding-bottom: 45px;
    }

    .header__menu-list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 370px) {
    .header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__info-panel {
        max-width: none;
    }

    .header__logo {
        margin-bottom: 20px;
    }

    .burger-content {
        position: absolute;
        top: -52px;
        right: 0;
    }

    h2 {
        font-size: 4.5rem;
    }

    h1 {
        font-size: 5rem;
    }
}