@import "normalize";
@import "variables";
@import "slick";

body {

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0,0.24);
		z-index: 9;
		opacity: 0;
		pointer-events: none;
	}
}


.overflowHidden {
	position: relative;
  	overflow: hidden;
  	// margin-right: 17px;

  	&::before {
  		opacity: 1;
  		pointer-events: all;
  		transition: all .3s;
  	}
} 

html {
	font-size: 10px;
}

img {
	max-width: 100%;
	height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 153rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
	padding-top: 6rem;
	padding-bottom: 5.4rem;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: none;
		padding-left: 7rem;
		padding-right: 7rem;
	}
}

.header__logo {
	display: flex;
	align-items: center;

	img {
		display: block;
		max-width: 12rem;
		width: 100%;
	}
	

	span {
		display: block;
		font-family: 'Roboto Slab', serif;
		font-size: 3.2rem;
		color: #348681;
		text-transform: uppercase;
		padding-left: 3.5rem;
	}
}

.header__info-panel {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 44rem;
	width: 100%;
}

.header__language-list {
	display: flex;

	&.active {

		.header__language-item {
			color: #fff;

			&::before {
				content: "";
				position: absolute;
				background-image: url("../img/lang-active.svg");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				width: 5rem;
				height: 4rem;
				left: 0;
				z-index: -1;
				top: -.6rem;
				opacity: 0;
				transition: all .3s;
			}

			&:hover {
				color: #348681;

				&::before {
					opacity: 1;
				}
			}

			&.active {
				color: #348681;

				&::before {
					opacity: 1;
				}
			}
		}
	}
}

.header__language-item {
	font-family: 'Roboto Slab', serif;
	display: block;
	position: relative;
	font-size: 2rem;
	color: #c1c1c1;
	z-index: 1;
	margin-right: 2rem;
	min-width: 5rem;
	text-align: center;
	transition: all .3s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		color: #fff;

		&::before {
			opacity: 1;
		}
	}

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/lang-h.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 5rem;
		height: 4rem;
		left: 0;
		z-index: -1;
		top: -.6rem;
		opacity: 0;
		transition: all .3s;
	}

	&.active {
		color: #fff;

		&::before {
			opacity: 1;
		}
	}
}

.burger-content {
  position: relative;
  display: block;
  width: 6rem;
  height: 4.6rem;
  cursor: pointer;
  z-index: 11;
}

.burger-mob {
  position: relative;
  display: block;
  background: #348681;
  width: 6rem;
  height: .6rem;
  border-radius: 100px;
  top: 2rem; 

  &.active {
  	transform: rotate(-45deg);
  	opacity: 1;
  	background: #fff;
  	transition: all .3s;

  	&::before {
  	    transform: rotate(90deg);
  	    opacity: 0;
  	}

  	&::after {
  	    transform: rotate(90deg);
  	    opacity: 1;
  	    transition: all .3s;
  	    top: 0;
  	    background: #fff;
  	}
  }
}

.burger-mob::before {
  content: "";
  position: absolute;
  background: #348681;
  width: 6rem;
  height: .6rem;
  top: 1.9rem;
  display: block;
  border-radius: 100px; 
}

.burger-mob::after {
  content: "";
  position: absolute;
  background: #348681;
  width: 6rem;
  height: .6rem;
  bottom: 1.9rem;
  display: block;
  border-radius: 100px; 
}

.intro {

}

.intro__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 6rem;
	line-height: 1.17;
	letter-spacing: 1.5px;
	color: #000000;
	font-weight: 700;
	padding-bottom: 4rem;
}

.intro__title-content {
	max-width: 60.4rem;
	width: 100%;

	p {
		font-size: 2.6rem;
		font-weight: 500;
		line-height: 1.54;
		letter-spacing: 0.65px;
		color: #404040;
		padding-bottom: 6.5rem;
	}

	.btn-main {
		margin-bottom: 10rem;

		&::before {
			transform: translate(0, -50%) rotate(0deg);
		}
	}

	.description-info {
		max-width: 55.6rem;
		width: 100%;
	}
}

.divider {
	width: 30.3rem;
	height: .6rem;
	border-radius: 8px;
	background-color: #348681;
	margin-bottom: 4.8rem;
}

.btn-main {
	font-family: 'Roboto Slab', serif;
	position: relative;
	display: block;
	max-width: 29.8rem;
	width: 100%;
	background-color: #2fa87e;
	font-size: 2.4rem;
	line-height: 1.67;
	color: #ffffff;
	text-transform: uppercase;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-left: 2.5rem;
	line-height: 7.4rem;	
	transition: all .3s;

	&:hover {
		background-color: #348781;
	}

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/btn-arr.svg");
		background-repeat: no-repeat;
		background-size: contain;
		right: 1rem;
		top: 50%;
		transform: translate(0, -50%) rotate(-90deg);
		width: 6rem;
		height: 6rem;
		pointer-events: none;
	}
}

.intro__nav-list {
	max-width: 71rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.intro__nav-item {
	position: relative;
	background-color: #348781;
	max-width: 32rem;
	width: 100%;
	height: 34rem;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 85px;
	margin-top: 9rem;
	padding-left: 2.5rem;
	padding-right: 1.8rem;
	padding-top: 2rem;
	overflow: hidden;
	transition: all .6s;

	&:hover {
		transform: scale(1.05);

		.intro__nav-img {
			transform: translate(-300px, 0);
			transition: ease 1s;
		}

		.intro__nav-hover-img {
			transform: translate(0, 0px);
			transition: ease .55s;
		}
	}

	p {
		position: relative;
		font-family: 'Roboto Slab', serif;
		font-size: 3rem;
		font-weight: 500;
		line-height: 1.07;
		letter-spacing: -0.75px;
		color: #ffffff;
		z-index: 2;
	}

	&:nth-child(1) {
		margin-top: 0;
	}

	&:nth-child(2) {
		background-color: #2fa87e;
		margin-top: 80px;
	}

	&:nth-child(odd) {
		margin-top: 0px;
	}

	&:nth-child(even) {
		margin-top: 9rem;
	}

	&:nth-child(3) {
		background-color: #2c6ea5;
	}

	&:nth-child(4) {
		background-color: #eeb720;
	}

	&:nth-child(5) {
		background-color: #714695;
	}

	&:nth-child(6) {
		background-color: #d46c68;
	}
}

.intro__nav-hover-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: ease .9s;
	transform: translate(0, -1000px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.intro__nav-img {
	position: relative;
	max-width: 11rem;
	text-align: center;
	margin-bottom: 8rem;
	transition: ease .5s;
	z-index: 2;
}

.description-info {
	position: relative;
	display: block;
	font-size: 2rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: #404040;
	padding-left: 2.8rem;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 2px;
		height: 9.2rem;
		background-color: #d5d5d5;
	}
}

.info {
	margin-top: -15rem;
	padding-bottom: 36.9rem;
}

.info__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 6rem;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 1.5px;
	color: #000000;
	padding-bottom: 4rem;
}

.info__title-content {
	max-width: 47.2rem;
	width: 100%;
	margin-right: 30px;
}

.info__title-img {
	max-width: 47.2rem;
	overflow: hidden;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 85px;
}

.info__about-content {
	max-width: 95.4rem;
	width: 100%;

	p {
		max-width: 71rem;
		width: 100%;
		margin-left: auto;
		font-size: 2.6rem;
		font-weight: 500;
		line-height: 1.54;
		letter-spacing: 0.65px;
		color: #404040;
		padding-bottom: 11.5rem;
	}

	.description-info {
		max-width: 60rem;
		width: 100%;
	}
}

.reviews {
	padding-bottom: 28rem;

	h2 {
		padding-bottom: 15.5rem;
	}

	.container {
		position: relative;
	}
}

.reviews__slide-item {
	position: relative;
	max-width: 53.2rem;
	width: 100%;
	margin: 0 auto;
	text-align: center;

	p {
		position: relative;
		font-size: 2.4rem;
		line-height: 1.42;
		letter-spacing: 0.48px;
		color: #333333;

		&::before {
			content: "";
			position: absolute;
			background-image: url("../img/q-l.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 4.1rem;
			height: 2.8rem;
			left: -8rem;
			top: -1.5rem;
		}

		&::after {
			content: "";
			position: absolute;
			background-image: url("../img/q-r.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 4.1rem;
			height: 2.8rem;
			right: -8rem;
			top: -1.5rem;
		}
	}
}

.reviews__slide-img {
	max-width: 18.7rem;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 2.3rem;
	overflow: hidden;
}

.reviews__slide-name {
	font-family: 'Poppins', sans-serif;
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.88;
	letter-spacing: 0.32px;
	color: #222222;
	padding-top: 3.3rem;
	padding-bottom: 1rem;
}

.reviews__slide-position {
	font-family: 'Poppins', sans-serif;
	display: block;
	font-size: 1.4rem;
	line-height: 2.14;
	letter-spacing: 0.28px;
	color: #222222;
	padding-bottom: 3rem;
}	

.reviews__img-mask {

	img {
		position: absolute;
	}

	&:nth-child(1) img {
		top: 21rem;
		left: 22rem;
	}

	&:nth-child(2) img {
		top: 39rem;
		left: 7rem;
	}

	&:nth-child(3) img {
		top: 43rem;
		right: 7rem;
	}
}

.reviews__slider {
	position: relative;
	z-index: 2;
}

.reviews__brand-mask {

	img {
		position: absolute;
	}

	&:nth-child(1) img {
		top: 59rem;
		left: 20rem;
	}

	&:nth-child(2) img {
		top: 23rem;
		right: 11.5rem;
	}

	&:nth-child(3) img {
		top: 65rem;
		right: 16rem;
	}
}

.reviews__slider-btns {
	display: flex;
	justify-content: center;
}

.reviews__slider-btn {
	max-width: 1.5rem;
	background-color: transparent;
}

.reviews__slider-btn--next {
	margin-left: 6rem;
}

.contact-info {

}

.contact-info__tabs-list {
	display: flex;
	padding-bottom: 12rem;
}

.contact-info__tabs-item {
	position: relative;
	color: rgba(0,0,0,0.35);
	transition: all .3s;
	cursor: pointer;
	margin-right: 9.5rem;
	padding-bottom: 0;
	margin-bottom: 2.9rem;

	&:last-child {
		margin-right: 0;
	}

	&.active {
		color: #000;

		&::before {
			opacity: 0;
		}
	}

	&:hover {
		color: #000;

		&::before {
			opacity: 0;
		}
	}

	&::before {
		content: "";
		position: absolute;
		background-image: linear-gradient(to right, #d2d2d2 72%, rgba(255, 255, 255, 0) 0%);
		background-position: bottom;
		background-size: 8.6rem .6rem;
		background-repeat: repeat-x;
		left: -0%;
		bottom: -2.9rem;
		width: 100%;
		height: 6px;
		opacity: 1;
		transition: all .3s;
	}
}

.contact-info__contacts-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.contact-info__contact-item {
	max-width: 42rem;
	width: 100%;

	p {
		font-size: 2rem;
		line-height: 1.5;
		letter-spacing: 0.5px;
		color: #404040;
		padding-bottom: 3.2rem;

		a {
			color: #404040;
		}
	}
}

.contact-info__flag-content {
	display: flex;
	align-items: center;
	padding-bottom: 3.9rem;
}

.contact-info__flag {
	max-width: 11.4rem;
	min-width: 11.4rem;
	margin-right: 2.8rem;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	overflow: hidden;
}

.contact-info__country {
	font-size: 3rem;
	font-weight: 600;
	line-height: 1.33;
	letter-spacing: 0.75px;
	color: #404040;
}

.contact-info__tab-list-wrap {
	display: none;

	&.active {
		display: block;
	}
}

.contact-info__form {
	max-width: 98.4rem;
	width: 100%;
	margin: 0 auto;
}

.contact-info__field-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.contact-info__field {
		max-width: 45.5rem;
		width: 100%;
		margin-right: 3rem;

		&:last-child {
			margin-right: 0;
		}
	}
}

.contact-info__field {
	width: 100%;
	margin-bottom: 5.4rem;

	label {
		font-family: 'Roboto Slab', serif;
		display: block;
		font-size: 2.2rem;
		line-height: 1.36;
		color: #404040;
		padding-left: .8rem;
		padding-bottom: .8rem;
	}

	input {
		width: 100%;
		border: solid 2px #d2d2d2;
		background-color: #fbfbfb;
		height: 7.4rem;
		border-top-right-radius: 100px;
		border-bottom-right-radius: 100px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		padding-left: 8px;
		padding-right: 8px;
		font-size: 1.8rem;
	}

	textarea {
		width: 100%;
		border: solid 2px #d2d2d2;
		background-color: #fbfbfb;
		border-top-right-radius: 100px;
		border-bottom-right-radius: 100px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		padding-left: .8rem;
		padding-right: .8rem;
		font-size: 1.8rem;
		height: 18.2rem;
		resize: none;
		outline: none;
		padding: 8px;
		padding-right: 40px;
		padding-bottom: 15px;
	}
}

.contact-info__panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact-info__content {
	padding-bottom: 18rem;
}

.header__menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	padding-top: 9.5rem;
	box-sizing: border-box;
	z-index: 10;
	top: 0;
	right: 0%;
	height: 100%;
	width: 92rem;
	overflow: auto;
	transform: translate(100%, 0%);
	background-color: #348681;
	padding-bottom: 30px;
	-ms-align-items: center;
	align-items: center; 
	transition: all .3s;

	&.active {
		transform: translate(0%, 0%);
	}
}

.header__menu-list {
	position: relative;
	max-width: 62rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-top: 14rem;
	left: 3rem;
	padding-bottom: 5rem;

	li {
		max-width: 27.4rem;
		width: 100%;
	}

	a {
		display: flex;
		align-items: flex-start;
		font-family: 'Roboto Slab', serif;
		font-size: 2.2rem;
		font-weight: 500;
		line-height: 1.09;
		letter-spacing: -0.55px;
		color: #ffffff;
		margin-bottom: 4.7rem;
		transition: all .3s;

		&:hover {
			transform: translate(1rem, 0);
		}
	}

	.header__menu-item-img {
		min-width: 7rem;
		max-width: 7rem;
		margin-right: .8rem;
		margin-top: -1rem;
		transition: all .3s;
	}
}

.header__sub-menu-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 27rem;
	width: 100%;
	padding-bottom: 9rem;

	a {
		font-family: 'Roboto Slab', serif;
		font-size: 2.2rem;
		line-height: 1.09;
		letter-spacing: 0.55px;
		color: #eeb720;
		transition: all .3s;

		&:hover {
			color: #fff;
		}
	}
}

.header__menu-info-content {
	max-width: 40.6rem;
	width: 100%;

	.divider {
		background-color: #eeb720;
		margin-bottom: 3.2rem;
	}
}

.header__address-info {
	position: relative;
	max-width: 40.6rem;
	width: 100%;
	margin: 0 auto;

	p {
		font-size: 2rem;
		line-height: 1.5;
		letter-spacing: 0.5px;
		color: #eeb720;

		a {
			color: #eeb720;
		}
	}
}

.reviews__brand-mask img {
	max-width: 25.9rem;
}

.reviews__img-mask img {
	max-width: 9.2rem;
}

.contact-info__checking img {
	max-width: 34.5rem;
}

.single-page {
	position: relative;
	overflow: hidden;
}

.single-page__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	p {
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.44;
		letter-spacing: 0.45px;
		color: #404040;
		padding-bottom: 10.3rem;
	}
}

.single-page__left-col {
	position: relative;
	max-width: 71rem;
	width: 100%;
	margin-right: 30px;
	padding-top: 2rem;
	z-index: 2;
}

.single-page__right-col {
	position: relative;
	max-width: 71rem;
	width: 100%;
	z-index: 2;
}

.single-page__img-wrap {
	height: 24.9rem;
	max-width: 90rem;
	margin-bottom: 4rem;
}

.single-page__img {
	position: absolute;
	max-width: 94rem;
	width: 200%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 10%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 85px;
    overflow: hidden;
    height: 24.9rem;
    left: 0;
}

.single-page__icon {
	position: absolute;
	z-index: 1;
	right: -20rem;
	bottom: -35rem;

	img {
		width: 110rem;
	}
}

.contact-info--inner {
	padding-top: 10rem;

	h2 {
		padding-bottom: 7rem;
	}
}

@import "media-desktop"; 
@import "media-mobile"; 